
.marquee {
  .marquee_content{
    display: flex;
    background: black;
    .marquee_item{
      white-space: nowrap;
    text-transform: uppercase;
    animation: scroll 40s linear infinite;
    &:nth-child(2){
      animation: scroll2 40s linear infinite;
      animation-delay: -20s;
    }
    
    }
  }
  
  @keyframes scroll{
    from{transform: translateX(100%)}
    to{transform: translateX(-100%)}
  }
  
  @keyframes scroll2{
    from{transform: translateX(0%)}
    to{transform: translateX(-200%)}
  }
}

.view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  img {
    position: absolute;
    object-fit: cover;
    width: 100px;
  }
}

// will-change: transform;
// transform: translate3d(49.991vw, -38.565vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
// transform-style: preserve-3d;