
.marquee {
  .marquee_content{
    display: flex;
    background: black;
    .marquee_item{
      white-space: nowrap;
    text-transform: uppercase;
    animation: scroll 40s linear infinite;
    &:nth-child(2){
      animation: scroll2 40s linear infinite;
      animation-delay: -20s;
    }
    
    }
  }
  
  @keyframes scroll{
    from{transform: translateX(100%)}
    to{transform: translateX(-100%)}
  }
  
  @keyframes scroll2{
    from{transform: translateX(0%)}
    to{transform: translateX(-200%)}
  }
}

.view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  &-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 17px);
    height: 100%;
    transform-style: preserve-3d;
    will-change: transform;
  }
  .img-wrap {
    position: absolute;
    width: 100px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
  }
  img {
    // width: 100%;
    max-width: none;
    // object-fit: cover;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

// will-change: transform;
// transform: translate3d(49.991vw, -38.565vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
// transform-style: preserve-3d;