.layout-deafult-header {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 2em;
  width: 100%;
  // height: 6rem;
  z-index: 10;
  background-color: transparent;
  transition: 0.4s;
  &.offtop {
    background-color: var(--swatch--orange);
  }
  &.active {
    background-color: white !important;
  }
  &-logo {
    width: 8rem;
    div {
      width: 100%;
      img {
        filter: invert(1);
      }
    }
  }
  &-logo--open {
    width: auto;
    animation: topMoveBottom 0.5s;
    @media screen and (max-width: 991px) {
      height: 21.95px;
    }
    @media screen and (max-width: 576px) {
      max-width: 50%;
    }
    img{
      width: 60%;
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
  }
  &-btn {
    width: 108px;
    height: 22px;
    user-select: none;
    cursor: pointer;
    div {
      margin-top: 6px;
      margin-bottom: 6px;
      width: 100%;
      height: 2px;
      max-width: 100%;
      background: white;
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
    }
  }
  &-btn--open {
    width: 36px;
    transition: all 0.5s;
    div {
      transition: all 0.5s;
      background: #000000;
      &:nth-child(1) {
        transform: translate3d(0px, 3.5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg)
          skew(0deg, 0deg);
      }
      &:nth-child(2) {
        transform: translate3d(0px, -3.5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg)
          skew(0deg, 0deg);
      }
    }
  }
  &-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 66px;
    width: 100%;
    height: 100%;
    background: rgba(237, 102, 23, 0.7);;
    z-index: 9;
    animation: heightZeroToFull 0.7s;

    @media screen and (max-width: 991px) {
      background: rgba(255, 255, 255, 1);
      animation: nav_heightZeroToFull 0.7s;
      height: auto;
    }
    ul {
      position: relative;
      z-index: 99;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: stretch;
      height: calc(100% - 5%);
      margin: 0 2em 0;
      @media screen and (max-width: 991px) {
        height: auto;
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;

      }
      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 20%;
      //   height: 100%;
      //   background: #ffffff;
      //   z-index: -1;
      // }
      .move-item {
        position: absolute;
        top: -4px;
        left: 0;
        width: 25%;
        height: calc(100% + 8px);
        border-radius: 6px;
        background: #ffffff;
        transition: all 0.3s;
        will-change: transform;
        pointer-events: none;
        @media screen and (max-width: 991px) {
          display: none;
        }
      }
      li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        overflow: visible;
        cursor: pointer;
        @media screen and (max-width: 991px) {
          border-bottom: 1px black solid;
          width: 100%;
          animation: line 1s;
        }

        .line {
          @media screen and (max-width: 991px) {
            display: none;
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 0;
            background: #000000;
            animation: heightZeroToFull 0.5s forwards;
            animation-delay: calc(var(--i) * 0.2s);
          }
        }
        &:nth-child(1) {
          .line {
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 1px;
              height: 100%;
              background: #000000;
              // animation: heightZeroToFull 0.5s forwards;
            }
          }
        }
        .list_style {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          padding: 20% 5px;
          @media screen and (max-width: 991px) {
            padding-top: 1.5em;
            padding-bottom: 1.5em;
          }
          .nav_link-btm {
            opacity: 0;
            align-self: flex-end;
            transition: .3s;
            @media screen and (max-width: 991px) {
              display: none;
            }
            .nav_link-p {
              position: absolute;
              bottom: -15px;
              transition: .3s;
            }
            &.active {
              opacity: 1;
              .nav_link-p {
                bottom: 0;
              }
            }

          }
        }
        // .background {
        //   position: absolute;
        //   top: -3px;
        //   left: -1.5px;
        //   width: 0;
        //   height: calc(100% + 6px);
        //   background: #ffffff;
        //   border-radius: 6px;
        //   z-index: 1;
        //   transition: all 0.3s;
        // }
        .content {
          z-index: 2;
        }
        // &.active {
        //   .background {
        //     width: calc(100% + 2px);
        //   }
        // }
        // &.active-leave {
        //   .background {
        //     left: auto;
        //     right: 0;
        //     width: 0;
        //   }
        // }
      }
    }
  }

}

#pink_mask {
  display: none;
  @media screen and (max-width: 991px) {
    display: block;
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: 0.4s;
    animation: fade_in_mask 0.7s;
    background: rgba(237, 102, 23, 0.7);
  }
}
// .layout-deafult {
//   margin-top: 6rem;
// }

.default-icon {
  padding: 12px;
  border-radius: 50%;
  background: #e0e2f0;
  margin: 0 3px;
  cursor: pointer;
  img {
    width: 24px;
    height: 24px;
    max-width: 24px;
  }
  &-lang {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 18px;
    font-weight: 100;
    font-family: "Courier New";
    user-select: none;
  }
  // img {
  //   width: 20px;
  //   height: 20px;
  // }
}

@media (max-width: 520px) {
  .layout-deafult-header {
    padding: 15px 1rem 10px;
    .paypal-icon {
      margin-right: 0;
    }
  }
}


/** animation */

@keyframes topMoveBottom {
  0%{
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes heightZeroToFull {
  0%{
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes nav_heightZeroToFull {
  0%{
    height: 0;
  }
  100% {
    height: 402px;
  }
}

@keyframes fade_in_mask {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes line {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}